/******TAG SECTION *****/

span {
  font-style: italic;

}

/******ID SECTION *****/

#testimonials-section {
  height: 31rem;
  /* padding-left: 24rem; */
  padding-top: 7rem;
  margin-bottom: 7rem;
  background-color: #dfdfdf;
}


/*****CLASS SECTION *****/

.carousel-item-position {
  text-align: center;
}

.header-section {
background-image: url('../images/home-3.jpeg');
height: 24rem;
margin-bottom: 6%;
color: #FFF;

}



.brand-title {

font-family: 'Merriweather', serif;
}

.main-message {
  color: #FFF;
  font-family: 'Merriweather', serif;
  text-align: center;
  padding-top: 4rem;
  width: 25rem;
  margin-left: 30rem;
  padding-bottom: 4rem;
}


.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}




.feature-card {
  margin : 2% 3% 5% 0;
}

.holder-card {
  text-align: center;
  margin-left: 6%;
  margin-top: 7%;
}

.bottom-container{
background-color: #66BFBF;
padding : 50px 0 20px;
text-align: center;
margin-top: 5rem;
}

.footer-link{
  color: #11999E;
  padding: 0 3% 2% 3%;
}

.copyright-message{
  color: #FFF;
  padding-top: 2%
}
