/******TAG SECTION *****/

span {
  font-style: italic;

}

/******ID SECTION *****/




/*****CLASS SECTION *****/


.header-section {
background-image: url('../images/home-3.jpeg');
height: 24rem;
margin-bottom: 4%;
color: #FFF;

}

.brand-title {

font-family: 'Merriweather', serif;
}

.main-message {
  color: #FFF;
  font-family: 'Merriweather', serif;
  text-align: center;
  padding-top: 4rem;
  width: 25rem;
  margin-left: 30rem;
  padding-bottom: 4rem;
}


.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}


.testimonial-comment {

  text-align: center;
  width: 28rem;
  padding-top: 10rem;
  padding-left: 10rem;
  font-family: 'Merriweather', serif;

}

.testimonials-section {
padding-top: 3rem;
}

.testimonial-pic {
  margin-left: 6rem;
}

.feature-card {
  margin : 2% 3% 5% 0;
}

.holder-card {
  text-align: center;
  margin-left: 6%;
  margin-top: 7%;
}

.bottom-container{
background-color: #66BFBF;
padding : 50px 0 20px;
text-align: center;
margin-top: 5rem;
}

.footer-link{
  color: #11999E;
  padding: 0 3% 2% 3%;
}

.copyright-message{
  color: #FFF;
  padding-top: 2%
}
